<%- include("Template/encabezado", {titulo:"Respuesta"}) %>

<div> Los datos del formulario son:</div>
<div class="alert alert-primary"> <%= nombre %></div>
<div class="alert alert-succes"> <%= edad %></div>

<%- include("Template/pie") %>